# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.eggs/

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Environment
.env.local
.env.*.local

# Docker
.dockerignore
